.chat {
  position: absolute;
  top: $header_height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f0f0;

  .chat-users {
    position: absolute;
    top: 0;
    left: 0;
    bottom: $chat_input_height;
    width: $chat_users_width;
    margin: 0;
    padding: 20px;
    list-style: none;
    background-color: #aaa;
  }

  .chat-messages {
    position: absolute;
    top: 0;
    right: 0;
    left: $chat_users_width;
    bottom: $chat_input_height;
    margin: 0;
    padding: 20px;
    list-style: none;
    overflow-x: none;
    overflow-y: auto;
    font-size: 1.2em;
    background-color: #eee;

    li {
      margin-bottom: .2em;
    }
  }

  .chat-form {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $chat_input_height;
    max-width: 100%;

    .chat-input {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      padding: 10px 16px;
      border: 0;
      outline: none;
    }
  }
}
