.chat {
  position: absolute;
  top: $header_height;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f9f9f9;

  .chat-users {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: $chat_users_width;
    margin: 0;
    padding: 2em;
    list-style: none;
    background-color: #aaa;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .chat-messages {
    position: absolute;
    top: 0;
    right: 0;
    left: $chat_users_width;
    bottom: 5em;
    margin: 0;
    padding: 1.5em 2em 2em 2em;
    list-style: none;
    overflow-x: none;
    overflow-y: auto;
    font-size: 1em;

    .message-meta {
      margin-top: .5em;

      b {
      }
      span {
        margin-left: .5em;
        font-size: .8em;
        color: #aaa;
      }
    }

    .message-body {
    }
  }

  .chat-form {
    position: absolute;
    bottom: 0;
    left: $chat_users_width;
    right: 0;
    height: 5em;
    padding: 0 2em 2em 2em;
    max-width: none;
    width: auto;

    .chat-input {
      display: block;
      position: relative;
      // top: 0;
      // left: 0;
      // right: 0;
      // bottom: 0;
      width: 100%;
      height: 3em;
      padding: 10px 16px;
      border: 2px solid #eee;
      border-radius: 8px;
      outline: none;

      &:focus {
        border-color: darken(#eee, 10%);
      }
    }
  }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
