// Flash
$col-success-text:      #3c763d;
$col-success-bg:        #dff0d8;
$col-success-border:    #d6e9c6;

$col-error-text:        #a94442;
$col-error-bg:          #f2dede;
$col-error-border:      #ebccd1;

$col-info-text:         #31708f;
$col-info-bg:           #d9edf7;
$col-info-border:       #bce8f1;

$col-warning-text:      #8a6d3b;
$col-warning-bg:        #fcf8e3;
$col-warning-border:    #faebcc;
